.DS_Store
bin
libexec
.build
.local
xcuserdata/
DerivedData/
.swiftpm/
.netrc
.swiftpm
workdir/
installer/
.xcode/
.vscode/
.venv/
test_results/
*.pid
*.log
*.zip
*.o
*.ext4
*.pkg
*.swp
*.tar.gz
*.tar.xz
vmlinux

# API docs for local preview only.
_site/
